[Desktop Entry]
Encoding=UTF-8
Name=wf-pc-chat
Name[zh_CN]=IM
Comment=Wildfire Chat PC Client
Comment[zh_CN]=IM PC客户端
Exec=/opt/IM/IM %U
GenericName=wf-pc-chat
GenericName[zh_CN]=IM
MimeType=application/wf-pc-chat;
Icon=/opt/IM/resources/extraResources/icons/128x128.png
Keywords=various;keywords;describing;your;application;
StartupNotify=true
Terminal=false
Type=Application
Categories=Chat;
